<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            text-align: center;
        }
        button {
            background-color: black;
            color: white;
        }
    </style>

</head>
<body>
    <h1>Email Spam Classifier</h1>
    <form method="post" action="/predict">
        <textarea name="content" placeholder="Enter Your Email Body" rows="15" cols="25" autocomplete="off">{{ email }}</textarea>
        <div>
            <button type="submit">Check Spam</button>
            <a href="/">Reset</a>
        </div>
    </form>
    <h2>{{ prediction }}</h2>
</body>
</html>